@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  @apply tracking-[-0.0015em];
}

#nprogress .bar {
  background: #2563eb !important;
  height: 2px !important;
  transition: all 200ms ease-out !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #2563eb,
    0 0 5px #2563eb !important;
}
