@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

* {
  font-feature-settings: "ss01" on, "frac" on, "cv01" on, "cv09" on, "cv03" on,
    "cv10" on, "cv05" on, "calt" on;
  text-rendering: geometricPrecision;
  text-wrap: balance;
  outline: 0px solid transparent !important;
  outline-offset: 0px !important;
  scroll-behavior: smooth !important;
  scrollbar-color: var(--scrollbar) rgba(255, 255, 255, 0.01);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 6px;
  transition: background-color 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}
:root {
  --scrollbar: rgba(234, 234, 234, 0.55);
  --scrollbar-hover: rgba(234, 234, 234, 0.88);
}
@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar: rgba(40, 40, 40, 0.9);
    --scrollbar-hover: rgba(129, 66, 66, 0.88);
  }
}
::-webkit-slider-thumb {
  z-index: 2000;
  position: relative;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #4c94ff;
  border-radius: 50%;
  cursor: pointer;
}
::-moz-range-thumb {
  z-index: 2000;
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #4c94ff;
  border-radius: 50%;
  cursor: pointer;
}

.text-md {
  font-size: 15px;
}

::selection {
  background-color: #8924e7c4;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

@layer utilities {
  .skeleton {
    @apply relative overflow-hidden bg-zinc-300/50 dark:bg-[#27272a5e];
  }
  .skeleton::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.32),
      transparent
    );
    animation: skeleton-wave 1.7s infinite;
  }
  @media (prefers-color-scheme: dark) {
    .skeleton::after {
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.064),
        transparent
      );
    }
  }
  @keyframes skeleton-wave {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
